.documents-grid {
    display: grid;
    width: 100vw;
    margin: 3rem auto;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr)); /* Adjust the min and max widths as needed */
    gap: 1rem; /* Adjust the gap between columns as needed */
}


.documents-grid img{
    width:20vw;
    height:30vw;
    object-fit: cover;
}