.footer-grid {
    width:100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr)); /* Adjust the min and max widths as needed */
    gap: 1rem; /* Adjust the gap between columns as needed */
margin-left: auto;
margin-right: auto;
margin-bottom: 0rem;
    justify-content: center;
  
  }

  .footer-grid p{
    margin-bottom: 0;
  }

  .q3-link{
    margin-top: 4rem !important;
    color:white;
    transition: all 0.1s ease-in;
    margin-bottom: 3rem;
    padding: 1rem;
    width: fit-content;
    /* background-color: red; */
    margin: 0 auto 1rem auto;
    border-radius: 1rem;
  }

  @media screen and (min-width:655px){
    .footer-container{
        grid-template-columns: 20vw 20vw 20vw;
        gap:0;
        margin-bottom: -1rem;
    }
  }
  