.create-page-container{
    width:100vw;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.input-labels{
    width:30vw;
}

.input-labels label {
    text-align: left;
    margin-bottom: 1rem;
}

.text-input {
    text-align: left;
    margin-bottom: 1rem;
  }