.feature img{
    width:20vw;
}

.feature-input{
    margin-bottom: 1rem;
    background-color: transparent;
    color:white;

}

.feature-input:plac

.features-grid{
    width:100vw;
    display: grid;
    grid-template-columns: 20vw 20vw;
    justify-content: space-evenly;
}

.amenity{
    display: flex;
 
    
    justify-content: center;
    align-items: center;
}

.amenities-box{
    border:2px solid white;
    display: grid;
    grid-template-columns: 40vw 40vw;
    justify-content: space-evenly;
    
}

.amenities-container{
    margin-bottom: 4rem;
}



