.property-images-grid img, .property-video{
    width:90vw;
    object-fit: cover;
    margin:0 auto;
}

.property-images-grid{
    width: 100vw;
}

.property-video {
    margin-bottom: 3rem;
}

@media screen and (min-width:655px){

    .property-images-grid img{
        width:40vw;
    }
    .property-images-grid{
        grid

    }
}