.property-images-grid img, .property-video{
    width:90vw;
    object-fit: cover;
    margin:0 auto;

}

.property-container{
    position: absolute;
    top:0;
    left:0;
    text-align: center;
    width:100vw;
    background: linear-gradient(to right, #331c00, #4f2816);
    
    

}

.property-images-grid{
    width: 100vw;
}

.property-container{
    overflow-x: hidden;
}

.property-herobanner h1{
    width:90vw;
    margin: 1rem auto 0 auto;
    font-size: 2rem;
}

.property-video {
    width:90vw;
    margin-bottom: 3rem;
    max-width: 650px;
    margin: 0 auto;

}

.main-description-p{
    max-width: 800px;
    margin: 0 auto;
}

.property-hero{
    width:100vw;
    /* max-height: 800px; */
    /* height:80vh; */
    object-fit: cover;
    max-width: 1000px;
    margin: 0 auto;
}

.title-paragraph-container{
    margin-bottom: -2rem;
}

.title-paragraph-container p{
text-align: left;
margin: 0 auto;
width:90vw;
max-width: 1000px;

}

.input-stack{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input{
    padding:1rem;
    border-radius: 1rem;
    border:1px solid transparent;
    background-color: transparent;
}

.h1-input{
    font-size: 2rem;
    margin:0 auto;
    background-color: red;
    width:min-content;
}

.h1-input{

}

@media screen and (min-width:655px){

    .property-container{
        margin-top: 5rem;
    }

    .property-images-grid img{
        width:40vw;
        max-width: 500px;

    }
    .property-images-grid{
        display: grid;
        grid-template-columns: minmax(auto, 500px) minmax(auto, 500px); /* Adjusted for max width of 500px 
        justify-content: space-evenly;
        gap:2rem;
        /* background-color: red; */
        margin: 2rem auto;
        max-width: 1000px;
        gap:2rem;
        /* background-color: red; */

    }
}

#home{
    scroll-margin-top:5rem;
}

@media screen and (min-width:865px){
    .main-description-p{
        font-size: 1.25rem;
    }
}