.uploaded-image{
    height:30vh;
}

.image-uploader {
    max-width: 400px; /* Set a maximum width */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; /* Add some padding for spacing */
    border: 2px dashed #ccc; /* Add a dashed border for visual indication */
    text-align: center; /* Center align the text */
    background-color: #00bfff;
  }
  
  .image-uploader-container label {
    cursor: pointer; /* Change cursor to pointer when hovering over the label */
  }
  
  .image-uploader-container img {
    max-width: 100%; /* Make sure the image fits within the container */
    margin-top: 20px; /* Add some space between the label and the image */
  }

  .image-preview img{
    height:100px;
  }

  .image-preview {
    height:100px;
  }

  .profile-image-uploader{
    background-color: rgb(31, 28, 28);
    height:40vh;
    position: absolute;
    transform: tr;

  }


  