.profile-image{
    height:40vh;
    background-color: grey;
   border-radius: 1rem;
}

.profile-container{
    margin-top: 3rem;
    position: relative;
}

.profile-socials img{
    width:50px;
    margin-right: 1rem;
  
}

.profile-socials{
    width:80vw;
    margin: 0 auto;
    max-width: 300px;
}

.profile-desktop{
    width:100vw;
    background-color: rgb(43, 43, 43);
    /* display: grid; */
    height:40vh;
    /* display: flex;
    justify-content: space-around; */
    /* grid-template-columns: 33vw 30vw 20vw; */
}

.profile-name{
    padding:0;
}

@media screen and (min-width:800px){
    .profile-socials{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: red;
        margin-left: auto;


    }

    .profile-container{}

    .profile-image{
        position: relative;
        /* left:50%;
        transform:translateX(-50%);
        top:0%; */
    }
}